# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Python tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Frontend temporary files
# =========================
*.tsbuildinfo